body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: $greyColor;
    line-height: 1.5;
    background: $bgColor;
}

h1 {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 1.1;
    color: $blackColor;
}

a {
    text-decoration: none;
    transition: all .2s;

    &:hover {
        color: $orangeColor;
    }
}

header {
    padding: 1rem 0 2rem;
}

.menu-toggler {
    cursor: pointer;
    height: 20px;
    width: 25px;
    box-sizing: content-box;
    padding: .75rem;
    margin-left: auto;

    span {
        display: block;
        width: 25px;
        height: 4px;
        background: $blackColor;
        border-radius: 4px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 25px;
            height: 4px;
            background: $blackColor;
            border-radius: 4px;
            position: relative;
            top: 8px;
        }

        &::after {
            content: '';
            display: block;
            width: 25px;
            height: 4px;
            background: $blackColor;
            border-radius: 4px;
            position: relative;
            top: 12px;
        }
    }
}

.lead-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .profile-photo {
        margin: 2rem 0;

        img {
            @include circle-box;
            max-width: 200px;
        }
    }

    .slogan {
        text-transform: uppercase;
    }

    h1 {
        margin: 1rem 0;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 576px) {

    h1 {
        font-size: 2.25rem;
    }

    .lead-presentation {

        h1 {
            font-weight: 400;
            line-height: 1.5;

            span {
                background: $blackColor;
                color: $bgColor;
                @include border-radius;
                padding: .25rem .75rem;
            }
        }
    }
}

.project-title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    h3 {
        color: $blackColor;
        font-weight: 900;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            content: "";
            height: 2px;
            width: 45px;
            background-color: $blackColor;
            margin-top: .6rem;
            margin-bottom: 3rem;
        }
    }
}

@media (min-width: 576px) {
    .project-title {
        margin-top: 6rem;
    }
}

.project-wrapper {
    display: flex;
    justify-content: center;

    .each-project {
        min-width: 300px;
        max-width: 300px;
        height: 300px;
        @include circle-box;
        border-top: 3px solid $blackColor;
        border-left: 3px solid $blackColor;
        border-right: 3px solid grey;
        border-bottom: 3px solid grey;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        position: relative;
        transition: all .2s;



        span {
            position: absolute;
            top: 20%;
            color: green;
            font-weight: 900;
            cursor: pointer;
            transition: all .2s;

            &:hover {
                color: orange;
            }
        }

        @media (min-width: 992px) {
            span {
                visibility: hidden;
            }

            &:hover {
                border: 3px solid $orangeColor;

                span {
                    visibility: visible;
                }
            }
        }
    }
}

.footer-wrapper {
    margin-top: 7rem;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    color: black;
}

.copyright-wrapper {
    background-color: $blackColor;
    line-height: 2.25rem;
    display: flex;
    justify-content: center;
    font-size: .75rem;
}
